<template>
  <main>
    <div class="column caption">
      <div class="input-group__details errors" v-if='localErrors && localErrors.length > 0'>
        <div class="input-group__messages" v-for='error in localErrors'>
          <div class="input-group__error error--text">{{ error }}</div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
const _ = require('lodash')

export default {
  name: 'error',
  props: ['error'],
  data() {
    return {
      localErrors: this.error
    }
  },
  created() {
    this.prepare(this.error)
  },
  watch: {
    'error': {
      handler: function (value) {
        this.prepare(value)
      },
      deep: true
    }
  },
  methods: {
    prepare(value) {
      if(_.isObject(value) && value.items) {
        this.localErrors = this.error.items
      }

      // check if is an array
      if(_.isArray(value) && !_.isObject(value[0]) && value.lenght != 0) {
        this.localErrors = value
      }

      // check if is an array of objects
      if(_.isArray(this.localErrors) && _.isObject(this.localErrors[0])) {
        this.localErrors = this.localErrors.map(e => e.msg)
      }
    }
  }
}
</script>
<style scoped>
.errors {
  display: block
}
</style>