/*
 * Infinite rotation animation
 */
.rotate {
  animation: anim-rotation-infinite 1s infinite linear;
}

@keyframes anim-rotation-infinite {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(360deg);
    }
}