body, .application {
  font-family: Poppins, Ubuntu, Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  overflow: hidden;
  font-weight: 400;
  padding: 0;
  margin: 0;
  height: 100%;
}
html {
  overflow-y: initial;
}

/*
 * Material design icons
 */
.mdi {
  font: normal normal normal 24px/1 "Material Design Icons" !important;
}

/* 
 * Webkit Scrollbar 
 */
*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  overflow: hidden;
  background: transparent;
}

.native.win32 *::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2)
}

*::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.08)
}