/* 
  Borders
*/
.border-right {
  border-right: 1px solid rgba(0,0,0,0.07);
}

.border-left {
  border-left: 1px solid rgba(0,0,0,0.07);
}

.border-top {
  border-top: 1px solid rgba(0,0,0,0.07);
}

.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.07);
}

.border {
  border: 1px solid rgba(0,0,0,0.07); 
}

.rounded {
  border-radius: 4px!important;
}
.no-border {
  border: none!important;
}