

/* 
  Transparent - Text color, border color and background color
*/
.tournament-transparent {
  background-color: transparent !important;
}
.tournament-transparent-outline {
  border-color: transparent !important;
}
.tournament-transparent--text {
  color: transparent !important;
}



/* 
  White - Text color, border color and background color
*/
.tournament-white {
  background-color: #ffffff !important;
}
.tournament-white-outline {
  border-color: #ffffff !important;
}
.tournament-white--text {
  color: #ffffff !important;
}

/*
  Purple - Text color, border color and background color
*/
.tenda-purple {
  background-color: #5287e4 !important;
}
.tenda-purple-outline {
  border-color: #5287e4 !important;
}
.tenda-purple--text {
  color: #5287e4 !important;
}

/*
  Orange - Text color, border color and background color
*/
.tenda-orange {
  background-color: #ebb409 !important;
}
.tenda-orange-outline {
  border-color: #ebb409 !important;
}
.tenda-orange--text {
  color: #ebb409 !important;
}


/* 
  Light Blue - Text color, border color and background color
*/
.tournament-light-blue {
  background-color: #4a90e2 !important;
}
.tournament-light-blue-outline {
  border-color: #4a90e2 !important;
}
.tournament-light-blue--text {
  color: #4a90e2 !important;
}

/* 
  Blue - Text color, border color and background color
*/
.tournament-blue {
  background-color: #3979c5 !important;
}
.tournament-blue-outline {
  border-color: #3979c5 !important;
}
.tournament-blue--text {
  color: #3979c5 !important;
}

/* 
  Dark Blue - Text color, border color and background color
*/
.tournament-dark-blue {
  background-color: #393e56 !important;
}
.tournament-dark-blue-outline {
  border-color: #393e56 !important;
}
.tournament-dark-blue--text {
  color: #393e56 !important;
}


/* 
  Black - Text color, border color and background color
*/
.tournament-black {
  background-color: #000000 !important;
}
.tournament-black-outline {
  border-color: #000000 !important;
}
.tournament-black--text {
  color: #000000 !important;
}

/* 
  Cyan - Text color, border color and background color
*/
.tournament-cyan {
  background-color: #f3f5f7 !important;
}
.tournament-cyan-outline {
  border-color: #f3f5f7 !important;
}
.tournament-cyan--text {
  color: #f3f5f7 !important;
}

/* 
  Green - Text color, border color and background color
*/
.tournament-green {
  background-color: #3fcf8c !important;
}
.tournament-green-outline {
  border-color: #3fcf8c !important;
}
.tournament-green--text {
  color: #3fcf8c !important;
}


/* 
  Yellow - Text color, border color and background color
*/
.tournament-yellow {
  background-color: #f5b919 !important;
}
.tournament-yellow-outline {
  border-color: #f5b919 !important;
}
.tournament-yellow--text {
  color: #f5b919 !important;
}

/* 
  Red - Text color, border color and background color
*/
.tournament-red {
  background-color: #fa516e !important;
}
.tournament-red-outline {
  border-color: #fa516e !important;
}
.tournament-red--text {
  color: #fa516e !important;
}

/* 
  Grey - Text color, border color and background color
*/
.tournament-grey {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.tournament-grey-outline {
  border-color: rgba(0, 0, 0, 0.25) !important;
}
.tournament-grey--text {
  color: rgba(0, 0, 0, 0.25) !important;
}

/* 
  Dark Grey - Text color, border color and background color
*/
.tournament-dark-grey {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.tournament-dark-grey-outline {
  border-color: rgba(0, 0, 0, 0.5) !important;
}
.tournament-dark-grey--text {
  color: rgba(0, 0, 0, 0.5) !important;
}

/* 
  Light Grey - Text color, border color and background color
*/
.tournament-light-grey {
  background-color: #f5f7fa !important;
}
.tournament-light-grey-outline {
  border-color: #f5f7fa !important;
}
.tournament-light-grey--text {
  color: #f5f7fa !important;
}

/* 
  Dark Grey - Text color, border color and background color
*/
.tournament-disabled {
  background-color: rgba(0, 0, 0, 0.06) !important;
}
.tournament-disabled-outline {
  border-color: rgba(0, 0, 0, 0.06) !important;
}
.tournament-disabled--text {
  color: rgba(0, 0, 0, 0.06) !important;
}