


/* Element Step - Registration Stepper */
.tournament-light-grey .registration-stepper .is-process .el-step__icon.is-text,
.tournament-light-grey .registration-stepper .is-wait .el-step__icon.is-text,
.tournament-light-grey .registration-stepper .is-success .el-step__icon.is-text {
  background-color: #f5f7fa;
}

/* Hidden the numbers of the steps */
.registration-stepper .is-wait .el-step__icon-inner,
.registration-stepper .is-process .el-step__icon-inner {
  display: none;
}
/* Fix align of balls */
.registration-stepper .el-step__head.is-wait .el-step__icon.is-text,
.registration-stepper .el-step__head.is-process .el-step__icon.is-text {
  margin-top: 4px;
}
/* Step circle */
.registration-stepper .el-step__icon.is-text {
  width: 16px;
  height: 16px;
}

/* Step Title */
.registration-stepper .el-step__title {
  line-height: 24px;
  font-size: 13px;
}
/* Step description */
.registration-stepper .el-step__description {
  font-size: 10px;
  height: 14px;
  line-height: 14px;
}

/* Step icon checked inside circle */
.registration-stepper .el-step__icon-inner.is-status {
  font-size: 8px;
  -webkit-transform: none!important; 
  transform: none!important; 
}

