/* Custom Card elevations */
.elevate-3d {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}
.elevate-3d:hover {
  box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-3px);
}
.elevate-1 {
  box-shadow: 0 1px 4px -1px rgba(0,0,0,.2) !important
}

.elevate-2 {
  box-shadow: 0 2px 7px -1px rgba(0,0,0,.2) !important;
}

.elevate-3 {
  box-shadow: 0px 5px 26px -4px rgba(0, 0, 0, 0.2) !important;
}