
/* 
 * Text Helpers
 */
.italic {
  font-style: italic !important;
}

.bold {
  font-weight: bold !important;
}

.underline {
  text-decoration: underline !important;
}


.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.translucid {
  opacity: 0.6;
}

.heading {
  font-size: 18px!important;
}

.subdisplay{
  font-size: 30px!important;
  font-weight: 500;
  line-height: normal!important;
  letter-spacing: .02em!important;
}

.title {
  line-height: normal!important;
}

.over-headline{
  font-size: 26px!important;
  font-weight: normal;
  line-height: normal!important;
  letter-spacing: .02em!important;
}

.hidden {
  display: none !important;
}
.no-selection {
  user-select: none !important;
}

.application, .display-1, .display-2, .display-3, .display-4, .headline, .title {
  font-family: "Poppins", Ubuntu,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif!important;
  font-weight: 400!important;
}