<template>
  <div class="pa-4 white" style="position: relative;">
    <VueMarkdown
      v-if="title"
      class="title mb-3"
      :source="title"
      :html="false"
      :xhtml-out="true"
      :breaks="true"
      :anchorAttributes="{target: '_blank'}"/>

    <VueMarkdown
      v-if="content"
      class="body-1 mb-3 translucid"
      :source="content"
      :html="false"
      :xhtml-out="true"
      :breaks="true"
      :anchorAttributes="{target: '_blank'}"/>

    <div v-if="html" v-html="html"></div>

    <el-input
      v-if="inputType=='text' || inputType=='password'"
      v-validate="validationRules"
      :name="inputName"
      :placeholder="inputPlaceholder"
      :type="inputType"
      v-model="inputData"/>
    <v-select
      v-else-if="inputType == 'select'"
      v-validate="validationRules"
      class="ra-1 mt-4"
      :name="inputName"
      :items="items"
      :placeholder="inputPlaceholder"
      v-model="inputData"
      hide-details
      absolute
      solo/>
    <v-textarea
      v-else-if="inputType == 'textarea'"
      v-validate="validationRules"
      class="ra-1 mt-4"
      :name="inputName"
      :placeholder="inputPlaceholder"
      v-model="inputData"
      hide-details
      solo/>

    <div style="height: 20px;">
      <span v-show="errors.has(inputName)" class="text-small" style="color: #FF5767;">
        {{ errors.first(inputName) }}
      </span>
    </div>

    <div class="prompt-buttons">
      <v-btn flat class="grey--text" style="height: 48px; min-width: initial;" @click="cancelButton">CANCELAR</v-btn>
      <v-btn flat class="green--text" style="height: 48px; min-width: initial;" @click="confirmButton">CONFIRMAR</v-btn>
    </div>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import ErrorMessage from '@/helpers/ErrorMessage'

export default {
  name: 'MaterialDialog',
  $_veeValidate: {
    validator: 'new' // give me my own validator instance.
  },

  components: { Error, VueMarkdown },

  props: {
    title: {
      type: String,
      default: ''
    },
    content: {
      type: String,
    },
    html: {
      type: String,
    },
    inputPlaceholder: {
      type: String,
    },
    inputType:{
      type: String,
      // default:'text',
    },
    items: {
      type: Array,
      default: null,
    },
    inputName:{
      type: String,
      default:'input',
    },
    validationRules:{
      default: ''
    },
    confirmed:{
      type: Boolean,
    }
  },
  data() {
    return {
      inputData: null
    }
  },

  methods: {
    cancelButton() {
      this.$emit('close')
    },

    confirmButton() {
      this.$validator.validateAll().then((isValid) => {
        if(isValid) {
          this.$emit('answer', this.inputType ? this.inputData : true)
          return
        }
      })
    },
  },

}
</script>
<style scoped>
.prompt-buttons {
  height: 48px;
  display:flex;
  justify-content: flex-end;
}
</style>