<template>
  <div :class="{'card-menu': !disabled, 'elevate-3d': !disabled, 'card-menu-disabled': disabled}" class="elevate-1 column" @click="goToRoute()">
    <div class="flex"></div>
    <div class="row flex">
      <div class="flex"></div>
      <div class="icon-circle column">
        <div class="flex"></div>
        <div class="row flex">
          <div class="flex"></div>
          <v-icon class="icon">{{icon}}</v-icon>
          <div class="flex"></div>
        </div>
        <div class="flex"></div>
      </div>
      <div class="flex"></div>
    </div>
    <div class="row flex">
      <div class="flex"></div>
      <div class="title">{{title}}</div>
      <div class="flex"></div>
    </div>
    <div class="row flex">
      <div class="flex"></div>
      <div class="description">{{description}}</div>
      <div class="flex"></div>
    </div>
    <div class="flex"></div>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'Item',
  props: {
    title: String,
    icon: String,
    description: String,
    route: String,
    disabled: Boolean
  },

  components: {

  },

  methods: {
    goToRoute() {
      if(this.route) {
        this.$router.push({ path: this.route})
      }
    }
  }
}

</script>

<style>

.card-menu {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  background-color: white;
}

.icon-circle {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border-width: 2px;
  border-color: #7790B4;
  border-style: dotted;
}

.icon {
  font-size: 42px !important;
  color: #7790B4 !important;
}

.title {
  font-size: 19px !important;
  font-weight: bold !important;
  color: #7790B4 !important;
}

.description {
  font-size: 14px !important;
  color: #7790B4 !important;
}

.card-menu-disabled {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  background-color: #CECECE;
}

</style>
