<template>
  <div class="card-menu elevate-3d elevate-1 column" @click="goToRoute(`/contracts/${contract._id}`)">
    <div class="contract-title ml-2 mt-2" :style="{ color: fontColor(contract.status)}">{{contract.templateId.name}}</div>
    <div class="contract-date ml-2 mt-1">{{prettyDate(contract.createdAt)}}</div>
    <div class="row mt-1" :style="{'background-color': containerColor(contract.status)}">
      <div class="signature-message ml-2" :style="{ color: fontColor(contract.status)}">{{signatureMessage(contract.status)}}</div>
    </div>
    <div class="mt-2 ml-1 row align-center">
      <v-icon v-if="contract.status != 'signed'"style="font-size: 15px !important;">mdi-timer</v-icon>
      <v-icon v-if="contract.status == 'signed'" style="font-size: 15px !important; color: #00C4A2;">mdi-check</v-icon>
      <div class="ml-1 signature-name">{{contract.receiver.name}}</div>
    </div>
    <div class="flex"></div>
  </div>
</template>

<script>
import _ from 'lodash'
import ErrorMessage from '@/helpers/ErrorMessage'
import Template from '@/services/Template'
import moment from 'moment'

export default {
  name: 'ContractItem',
  props: {
    contract: Object
  },

  components: {

  },

  methods: {
    goToRoute(path) {
      if(this.contract.published) {
        this.$router.push({ path })
      }
    },

    prettyDate(date) {
      moment.locale('pt-br')
      return moment(date).format('DD MMM [às] hh:mm')
    },

    signatureMessage(status) {
      return {
        "signed": "Assinado",
        "failed": "Falhou",
        "editing": "Editando",
        "waiting_signature": "Aguardando assinatura"
      }[status] || "Falhou"
    },

    fontColor(status) {
      return {
        "signed": "#00C4A2",
        "failed": "#691c1a",
        "editing": "#b78005",
        "waiting_signature": "#7790B4"
      }[status]
    },

    containerColor(status) {
      return {
        "signed": "rgba(0,196,162,.15)",
        "failed": "#D96363",
        "editing": "#fde894",
        "waiting_signature": "rgba(119,144,180,.15)"
      }[status]
    }
  },

  computed: {

  }
}

</script>

<style scoped>

.card-menu {
  width: 220px;
  height: 260px;
  border-radius: 8px;
  background-color: white;
}

.contract-title {
  font-size: 15px !important;
  font-weight: 700 !important;
}

.contract-date {
  font-size: 13px;
  color: #7C8791;
}

.signature-message {
  font-size: 12px;
}

.signature-name {
  color: #7C8791;
  font-size: 12px;
}

</style>
