<template>
  <div class="card-menu elevate-3d elevate-1 column" @click="goToRoute(`/templates/${template._id}`)">
    <!-- <div class="row flex">
      <div class="flex"></div>
      <v-icon style="font-size: 68px !important; color: #7790B4 !important">mdi-file-cloud-outline</v-icon>
      <div class="flex"></div>
    </div> -->
    <div class="title ml-2 mt-2">{{template.name}}</div>
    <div class="template-date ml-2 mt-1">{{prettyDate(template.createdAt)}}</div>
    <div class="row mt-2 cointainer">
      <div class="coitainer-message ml-2">
        {{template.usage}} contratos criados
      </div>
    </div>
    <div class="flex"></div>
    <div class="row mb-3">
      <div @click.stop="goToStats()" class="row" style="width: 50%">
        <div class="flex"></div>
        <el-tooltip effect="dark" content="Estatísticas">
          <v-icon style="color: #e9e9e9;" class="action-icon">mdi-align-vertical-bottom</v-icon>
        </el-tooltip>
        <div class="flex"></div>
      </div>
      <div @click.stop="openRemoveDialog()" class="row" style="width: 50%">
        <div class="flex"></div>
        <el-tooltip effect="dark" content="Excluir">
          <v-icon style="color: #e9e9e9;" class="action-icon">mdi-delete-outline</v-icon>
        </el-tooltip>
        <div class="flex"></div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import ErrorMessage from '@/helpers/ErrorMessage'
import Template from '@/services/Template'
import moment from 'moment'

export default {
  name: 'TemplateItem',

  data() {
    return {
      loading: false
    }
  },

  props: {
    template: Object
  },

  components: {

  },

  methods: {
    goToRoute(path) {
      this.$router.push({ path })
    },

    goToStats() {
      this.goToRoute('/statistics')
    },

    prettyDate(date) {
      moment.locale('pt-br')
      return moment(date).format('DD MMM [às] hh:mm')
    },

    async openRemoveDialog() {
      let action = await this.$dialogRemove({
        width: '338px',
        top: '250px',
        title: 'Deseja remover este template?',
        class: 'pa-4'
      })

      if(action) {
        try {
          await this.removeTemplate(this.template._id)
        } catch(err) {
          this.$message({
            type: 'error',
            message: ErrorMessage(err),
          })
        }
      }
    },

    async removeTemplate(templateId) {
      try {
        this.$message({
          message: 'Sendo removido...'
        })
        await Template.remove(templateId)
      } catch(err) {
        this.$message({
          type: 'error',
          message: ErrorMessage(err),
        })
      } finally {
        this.$emit('fetch')
      }
    }
  }
}

</script>

<style scoped>

.card-menu {
  width: 240px;
  height: 270px;
  border-radius: 8px;
  background-color: white;
}

.title {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #7790B4 !important;
}

.card-menu:hover .action-icon {
 color: #7790B4 !important;
}

.cointainer {
  background-color: rgba(119,144,180,.15);
}

.coitainer-message {
  font-size: 12px;
  color: #7790B4;
}

.template-date {
  font-size: 13px;
  color: #7C8791;
}

</style>
