<template src="./List.html"></template>
<script src="./List.js"></script>
<style src="./List.css" scoped></style>
<style src="../../styles/bootstrap.min.css" scoped></style>
<style src="../../styles/style.css" scoped></style>
<style src="../../styles/vendors.css" scoped></style>