  <div id="page">

  <header class="header_in" style="height: 120px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12">
          <div id="logo">
            <a href="/">
              <img src="/static/assets/logo_sticky2.svg" width="172" height="81" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-9 col-12">
          <!-- /top_menu -->
          <a href="#menu" class="btn_mobile">
            <div class="hamburger hamburger--spin" id="hamburger">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </a>
          <nav id="menu" class="main-menu">
                        <ul>
                            <li><span><a href="/">Home</a></span>
                            </li>
                        </ul>
                    </nav>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
    <!-- search_mobile -->
    <div class="layer"></div>
    <!-- /search_mobile -->
  </header>
  <!-- /header -->

  <main>
    <div id="results">
       <div class="container">
         <div class="row">
           <div class="col-lg-3 col-md-4 col-10">
             <h4><strong>{{count}}</strong> resultados</h4>
           </div>
           <div class="col-lg-9 col-md-8 col-2">
             <a href="#0" class="side_panel btn_search_mobile"></a> <!-- /open search panel -->
            <div class="row no-gutters custom-search-input-2 inner">
              <div class="col-lg-12">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Não gostou? Pesquise outro aqui">
                  <i class="icon_search cursor-pointer" @click="$router.push('/')"></i>
                </div>
              </div>
            </div>
           </div>
         </div>
         <!-- /row -->
       </div>
       <!-- /container -->
     </div>

    <!-- /filters -->

    <div class="collapse" id="collapseMap">
      <div id="map" class="map"></div>
    </div>
    <!-- /Filters -->

    <div class="container margin_60_35">
      <div class="row" >
          <div class="col-xl-4 col-lg-6 col-md-6" v-for="poster in posters">
          <div class="strip grid">
            <figure>
              <a href="#0" class="wish_bt"></a>
              <a href="#"><img :src="poster.media" class="img-fluid" alt=""><div class="read_more"><span>Veja mais</span></div></a>
              <small>Apartamento</small>
            </figure>
            <div class="wrapper">
              <h3><a href="#" @click="openWPP(poster)">{{poster.name}}</a></h3>
              <small></small>
              <p>{{poster.description}}</p>
            </div>
            <ul>
              <li class="mr-0"><span class="loc_open">{{poster.metadata.useful_area}} m²</span></li>
              <li class="mr-0"><div class="score"><strong>{{source(poster.source)}}</strong></div></li>
              <li><div class="score" style="border: 1px solid #32a067;"><strong style="cursor: pointer; background: #fff; color: #32a067;" v-ripple @click="openWPP(poster)"><img src="/static/whatsapp.png" width="20" height="20" class="mr-2" />GOSTEI DESSE</strong></div></li>
            </ul>
          </div>
        </div>
        <!-- /strip grid -->
      </div>
      <!-- /row -->

      <p class="text-center"><a href="#0" class="btn_1 rounded add_top_30">Carregar mais</a></p>

    </div>
    <!-- /container -->

  </main>
  <!--/main-->
  <!--/footer-->
  </div>
  <!-- page -->

  <!-- /Sign In Popup -->