<template>
  <Navigation>
    <transition name="slide-x-transition" mode="out-in">
      <router-view></router-view>
    </transition>
  </Navigation>
</template>

<script>

import Navigation from '@/components/Navigation'

export default {
  name: 'App',
  components: {
    Navigation
  }
}
</script>

<style>
.v-content__wrap {
  display: flex;
  flex-direction: column;
}
</style>