<template src="./Search.html"></template>
<script src="./Search.js"></script>
<style src="./Search.css" scoped></style>
<style src="../../styles/bootstrap.min.css" scoped></style>
<style src="../../styles/style.css" scoped></style>
<style src="../../styles/vendors.css" scoped></style>