.dynamic-write {
  transition: 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  white-space: pre-wrap;
  text-transform: initial!important;
}

.white-color /deep/ label {
  color: white;
}

.text-white >>> .v-text-field__slot input {
  color: white;
}

.text-white >>> .v-input__slot input {
  color: white;
}

.test-quantity  img {
  max-width: 260px;
  width: 50%;
}