
<div id="page">

  <header class="header menu_fixed">
    <div id="logo">
      <a href="index.html" title="Sparker - Directory and listings template">
        <img src="/static/assets/logo.svg" width="172" height="81" alt="" class="logo_normal">
        <img src="/static/assets/logo_sticky.svg" width="172" height="81" alt="" class="logo_sticky">
      </a>
    </div>
  </header>

  <main>
    <section class="hero_single version_5">
      <div class="wrapper">
        <div class="container">
          <div class="row justify-content-center pt-lg-5" style="height: 100%; align-items: center;">
            <div class="col-xl-5 col-lg-6">
              <!-- <p>Discover top rated hotels, shops and restaurants around the world</p> -->
              <h3 class="dynamic-write" id="welcome" style="font-size: 24px;" v-if='step == 0'></h3>
              <h3 class="dynamic-write mt-5" id="welcome2" style="font-size: 20px;"></h3>
              <transition-group class="test-quantity">
                <v-layout :key="0" v-show='step == 0'>
                  <v-text-field dark placeholder="Digite seu nome aqui" v-model="name" class="text-white"></v-text-field>
                </v-layout>
                <v-layout :key="1" v-show='step == 1'>
                  <v-text-field dark placeholder="Digite sua idade" class="text-white" v-model="age"></v-text-field>
                </v-layout>
                <v-layout :key="2" v-show='step == 2'>
                  <v-autocomplete
                    label="Digite o bairro"
                    :items="bairros"
                    v-model="neighborhood"
                    class="text-white"
                    dark
                    no-data-text="Ainda não atendemos essa região =("
                  >
                  </v-autocomplete>
                </v-layout>
                <v-layout :key="3" v-show='step == 3'>
                  <v-radio-group v-model="priceOption">
                    <v-radio
                      class="white-color"
                      v-for="n in priceOptions"
                      :key="n.key"
                      :label="n.label"
                      :value="n.value"
                      dark
                    ></v-radio>
                  </v-radio-group>
                </v-layout>
                <v-layout :key="4" v-show='step == 4'>
                  <v-radio-group v-model="lifeOption">
                    <v-radio
                      class="white-color"
                      v-for="n in lifeOptions"
                      :key="n.key"
                      :label="n.label"
                      :value="n.value"
                      dark
                    ></v-radio>
                  </v-radio-group>
                </v-layout>
                <v-layout :key="5" v-show='step == 5'>
                  <v-checkbox
                    v-model="options.lazer"
                    label="Área de lazer"
                    class="white-color"
                    dark
                  >
                  </v-checkbox>
                  <v-checkbox
                    v-model="options.gym"
                    label="Academia"
                    dark
                    class="white-color"
                  >
                  </v-checkbox>
                  <v-checkbox
                    v-model="options.pool"
                    label="Piscina"
                    class="white-color"
                    dark
                  >
                  </v-checkbox>
                  <v-checkbox
                    v-model="options.games"
                    label="Salão de jogos"
                    class="white-color"
                    dark
                  >
                  </v-checkbox>
                </v-layout>
                <v-layout :key="6" v-show='step == 6'>
                  <div class="row flex">
                    <div class="flex"></div>
                    <div class="column">
                      <div style="display: flex;">
                        <img @click="setImage('decor', 1)" src="https://www.decorfacil.com/wp-content/uploads/2017/09/20170907decoracao-de-apartamento-5.jpg" class="cursor-pointer mr-2 mb-2 mt-4"></img>
                        <img @click="setImage('decor', 2)" src="https://i.pinimg.com/originals/29/14/a5/2914a5a961cb357512f08af7f20e30e0.jpg" class="cursor-pointer mb-2 mt-4"></img>
                      </div>
                      <div class="cursor-pointer" style="display: flex;">
                        <img @click="setImage('decor', 3)" src="https://asimplicidadedascoisas.files.wordpress.com/2010/09/img_0471.jpg" class="cursor-pointer mr-2 mb-2"></img>
                        <img @click="setImage('decor', 4)" src="https://abrilminhacasa.files.wordpress.com/2015/04/apartamento-pequeno-47-mc2b2-planejados-para-uma-familia-com-quatro.jpg?quality=70&strip=info&w=1000"></img>
                      </div>
                    </div>
                    <div class="flex"></div>
                  </div>
                </v-layout>
                <v-layout :key="7" v-show='step == 7'>
                  <div class="row flex">
                    <div class="flex"></div>
                    <div class="column">
                      <div style="display: flex;">
                        <img @click="setImage('view', 1)" src="https://resizedimgs.vivareal.com/fit-in/870x653/vr.images.sp/4ad6cdd687dcbdc92469f0459e761dd9.jpg" class="cursor-pointer mr-2 mb-2 mt-4"></img>
                        <img @click="setImage('view', 2)" src="https://imgbr.imovelwebcdn.com/avisos/2/29/23/43/65/74/1200x1200/721265445.jpg" class="cursor-pointer mb-2 mt-4"></img>
                      </div>
                      <div class="cursor-pointer" style="display: flex;">
                        <img @click="setImage('view', 3)" src="http://www.melloimoveis.com.br/sndimg.aspx?h=480&imagem=68877" class="cursor-pointer mr-2 mb-2"></img>
                        <img @click="setImage('view', 4)" src="https://media-cdn.tripadvisor.com/media/photo-s/05/c0/a6/11/praia-boqueirao.jpg"></img>
                      </div>
                    </div>
                    <div class="flex"></div>
                  </div>
                </v-layout>
                <v-layout :key="8" v-show='step == 8'>
                  <div class="row flex">
                    <div class="flex"></div>
                    <div class="column">
                      <div style="display: flex;">
                        <img @click="setImage('balcony', 1)" src="https://www.vaicomtudo.com/wp-content/uploads/2015/04/Tipos-de-sacadas-para-apartamentos-0041.jpg" class="cursor-pointer mr-2 mb-2 mt-4"></img>
                        <img @click="setImage('balcony', 2)" src="http://construindodecor.com.br/wp-content/uploads/2013/10/sacada-de-apartamentos-2.jpg" class="cursor-pointer mb-2 mt-4"></img>
                      </div>
                      <div class="cursor-pointer" style="display: flex;">
                        <img @click="setImage('balcony', 3)" src="https://img.olx.com.br/images/06/061910002601969.jpg" class="cursor-pointer mr-2 mb-2"></img>
                        <img @click="setImage('balcony', 4)" src="https://www.decorfacil.com/wp-content/uploads/2018/07/20180702varanda-gourmet-39.jpg"></img>
                      </div>
                    </div>
                    <div class="flex"></div>
                  </div>
                </v-layout>
                <v-layout :key="9" v-show='step == 9'>
                  <div class="row flex mt-4">
                    <div class="flex"></div>
                    <v-progress-circular
                      :indeterminate="true"
                    ></v-progress-circular>
                    <div class="flex"></div>
                  </div>
                </v-layout>
              </transition-group>
              <div class="custom-search-input-2" v-if="step < 6 && showName" @click="next()" style="margin-top: 0px; display: flex; align-items: center; justify-content: flex-end;">
                <input type="submit" value="Continuar">
              </div>
            </div>
            <div class="col-xl-5 col-lg-6 text-right d-none d-lg-block">
              <img src="/static/assets/graphic_home_2.svg" alt="" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- /hero_single -->

    <div class="call_section image_bg">
      <div class="wrapper">
        <div class="container margin_80_55">
          <div class="main_title_2">
            <span style="background: #004dda"><em></em></span>
            <h2>Como nós funcionamos?</h2>
            <p>Descubra os <b>apartamentos</b> que mais combinam com você.</p>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="box_how">
                <i class="pe-7s-search"></i>
                <h3>Ache apartamentos com o seu estilo</h3>
                <p>Através de algoritmos de classificação e Machine Learning, fazemos um "match" entre você o apê dos sonhos.</p>
                <span></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box_how">
                <i class="pe-7s-info"></i>
                <h3>Marketplace de apartamentos</h3>
                <p>Não se preocupe em procurar em vários lugares, nós fazemos isso para você e mostramos o melhor preço.</p>
                <span></span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box_how">
                <i class="pe-7s-like2"></i>
                <h3>Faça sua avaliação</h3>
                <p>A cada avaliação que você faz, você ajuda o nosso algorítmo a acertar cada vez mais.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- /wrapper -->
    </div>
    <!--/call_section-->
  </main>
  <!-- /main -->
  </div>
  <!-- page -->
